.main-view{
    background-color: black;
    height: 160vh;
    background-size:cover;
}
.home-page{
    background-color: red;
    height: 100vh;
    background-size:cover;
}
.judo-section{
    height: 80vh;
    background-image: url("img/judo.jpg");
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    border: 10px solid black;
    opacity: 0.8;

}
.wrestling-section{
    height: 70vh;
        background-image: url("img/wrestling.jpg");
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
        border: 10px solid black;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
}
.judo-button{
    color:white;
    background-color: rgb(0, 0, 0);
    opacity:0.7;
    padding: 60px 80px;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.wrestling-button{
    color:white;
    background-color: rgb(0, 0, 0);
    opacity:0.7;
    padding: 60px 60px;
    border: 3px solid white;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.register-athlete-button{
    color: black;
    background-color: white;
    opacity:0.7;
    padding: 30px 30px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 5%;

}
.back-button{
    color:orange;
    background-color: black;
    padding: 30px 30px;
    font-size: 16px;
    cursor: pointer;
}
.save-button{
    color:white;
    background-color: rgb(0, 0, 0);
    padding: 30px 20px;
    font-size: 16px;
    cursor: pointer;
}

.athlete-one-choose{
    font-size: 30px;
    background-color: white;
}
.athlete-one-choose::part(input-field){
    background-color: hsl(241 48% 58% / 1);
}

.athlete-two-choose{
    font-size: 30px;
    background-color: blue;
}
.athlete-two-choose::part(input-field){
    background-color: white;
}
.athlete-one{
    background-color: white;
    height: 40vh;
    opacity:0.5;

}
.athlete-two{
    background-color: blue;
    height: 40vh;
    opacity:0.5;
}

.athlete-two-choose::part(label){
    color: white;
}
.athlete-one-choose::part(label){
    color: black;
}

.judo-view{
    background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url("img/tatami.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.ipponButton-button{
    color:white;
    cursor: pointer;
    background-color: orange;
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
.wazaAri-button{
    color:white;
    cursor: pointer;
    background-color: orange;
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.yuko-button{
    color:white;
    cursor: pointer;
    background-color: orange;
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;

}

.shido-button{
    color:white;
    cursor: pointer;
    background-color: red;
    font-size: 15px;
}

.hansokuMake-button{
    color:white;
    cursor: pointer;
    background-color: red;
    font-size: 15px;
}



.shido-button-two{
    color:white;
    cursor: pointer;
    background-color: red;
    font-size: 15px;

}

.hansokuMake-button-two{
    color:white;
    cursor: pointer;
    background-color: red;
    font-size: 15px;
}


.score-integer{
    color:black;
    background-color: white;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.score-integer::part(label){
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.score-integer-two{
    background-color: blue;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;

}

.score-integer-two::part(label){
    color: white;
    font-weight: bold;
    font-size: 20px;

}
.score-integer-two::part(input-field){
    color: white;


}
.score-integer-two::part(decrease-button){
    color: white;
}

.score-integer-two::part(increase-button){
    color: white;
}
.score-integer-two::part(clear-button){
    color: white;
}
.score-display{
    color:green;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
}
.register-view{
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("img/registerViewImg.jpg");
    background-position: center;
    height: 100vh;
}
.ammo-display{
    font-size: 15px;
}

.refresh-button{
    color:white;
    background-color: black;
    padding: 30px 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
.wrestling-view{
    background-image: url("img/wrestlingmat.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.player-one-horizontal{
    background-color: red;
    height: 40vh;
    opacity:0.5;
}
.player-two-horizontal{
    background-color: blue;
    height: 40vh;
    opacity:0.5;
}
.score-wrestler{
    color:white;
    font-size: 30px;
    display: inline-block;
}

.score-wrestler::part(input-field){
    color: white;
}
.score-wrestler::part(increase-button){
    color: white;
}
.score-wrestler::part(decrease-button){
    color: white;
}

.score-wrestler::part(label){
    color: white;
    font-size: 20px;
}
.score-wrestler-two{
    color:white;
    font-size: 30px;
    display: inline-block;
    margin-left: 10px;
}

.score-wrestler-two::part(input-field){
    color: white;
}

.score-wrestler-two::part(increase-button){
    color: white;
}

.score-wrestler-two::part(decrease-button){
    color: white;
}
.score-wrestler-two::part(label){
    color: white;
    font-size: 20px;
}

.wrestler-one-choose{
padding: 10px 20px;
font-size: 25px;
border-radius: 5px;
display: inline-block;
}

.wrestler-two-choose{
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    display: inline-block;

}


.wrestler-one-choose::part(label){
    color: white;
    font-size: 15px;
}
.wrestler-one-choose::part(input-field){
    background-color: hsl(241 48% 58% / 1);

}
.wrestler-one-choose vaadin-select-value-button > vaadin-select-item{
    color: white;
}
.wrestler-two-choose::part(label){
    color: white;
    font-size: 15px;
}
.wrestler-two-choose::part(input-field){
    background-color: hsl(241 48% 58% / 1);
}
.wrestler-two-choose vaadin-select-value-button > vaadin-select-item{
    color: white;
}
.ammonition-button{
    color: red;
    background-color: yellow;
    cursor: pointer;
    font-size: 15px;
}
.four-points-button{
    background-color: white;
    cursor: pointer;
    font-size: 15px;


}
.two-points-button{
    background-color: white;
    cursor: pointer;
    font-size: 15px;

}
.one-point-button{
    background-color: white;
    cursor: pointer;
    font-size: 15px;

}

.yellow-card{
    border: 2px solid black;
}
.red-card{
    border: 2px solid black;
}

.timer-div{

    background-color: orange;
    border-radius: 10px;
    max-width: 60vh;
    margin: auto;
    opacity: 0.8;
}

.start-button{
    color: green;
    cursor: pointer;
}
.stop-button{
    color: red;
    cursor: pointer;
}
.reset-button{
    color: black;
    cursor: pointer;
}
.timer{
    color: black;
    font-size: 30px;
}
.name-field::part(label){
    color: black;
    font-size: 20px;
}
.name-field::part(input-field){
    color: black;
    font-size: 20px;
}
.last-name-field::part(label){
    color: black;
    font-size: 20px;
}
.last-name-field::part(input-field){
    color: black;
    font-size: 20px;
}
.weight-class-select::part(label){
    color: black;
    font-size: 20px;
}
.weight-class-select::part(input-field){
    color: black;
    font-size: 20px;
}
.sport-select::part(label){
    color: black;
    font-size: 20px;
}
.sport-select::part(input-field){
    color: black;
    font-size: 20px;
}